/ans.jpg
/apple1.png
/apple2.png
/apple3.png
/apple4.png
/applejuice.png
/argv.json
/array.java
/bc.jpg
/bge.jpg
/cocacola.png
/CODES TO LEARN.html
/first.py
/flower.html
/kitchen.css
/kitchen.html
/logo.jpeg
/os.python.py
/sty.css
/styles.css
/styles2.css
/styles3.css
/Untitled-1.java
/web.html
/web2.html
/web3.html